<% if user.followers.present? %>
  <% user.followers.each do |user| %>
    <div class="row">
      <%= link_to user_path(user) do %>
      <p class="col-sm-2"><%= profile_img(user) %></p>
      <p class="col-sm-10 left"><%= user.name %></p>
      <% end %>
      </div>
    <% end %>
<% else %>
    <p>いません</p>
<% end %>
