<% if user.followed_users.present? %>
 <% user.followed_users.each do |user| %>
   <ul class="cf">
      <%= link_to user_path(user) do %>
      <li class="image_area"><%= profile_img(user) %></li>
      <li  class="name_area"><%= user.name %></li>
      <% end %>
  </ul>
<% end %>
<% else %>
<p>いません</p>
<% end %>
