.cf::after{
	content: "";
	display: block;
	clear: both;
}
.center-block{
	margin: 0 auto;
}
.inner{
	padding: 10vw;
}
.section_title{
	color: #fff;
	background-color: #315096;;
	padding: 2vw;
	font-size: 1.5vw;
}
.right {
text-align: right;
}

.left {
text-align: left;
}
