.name_area{
  float: left;
  width: 80%;
  padding: 1%;
}
.image_area{
  float: left;
  width: 10%;
  img{
    border-radius: 50%;
  }
}
.topic_contents{
	padding: 5vw;
	margin-top: 5vw;
	background-color: #fff;
	border-radius: 20px;
}
